[submodule "llm-consultant-api"]
	path = llm-consultant-api
	url = https://github.com/roli2py/llm-consultant-api.git
[submodule "llm-consultant-widget"]
	path = llm-consultant-widget
	url = https://github.com/roli2py/llm-consultant-widget.git
