name: llm-consultant

services:
  proxy:
    build: ./proxy
    networks:
      - proxy-network
    environment:
      - LLM_CONSULTANT_WIDGET_DOMAIN=${LLM_CONSULTANT_WIDGET_DOMAIN}
      - LLM_CONSULTANT_API_DOMAIN=${LLM_CONSULTANT_API_DOMAIN}
    volumes:
      - ./proxy/templates:/etc/nginx/templates
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    ports:
      - "${LLM_CONSULTANT_WIDGET_HTTP_PORT}:80"
      - "${LLM_CONSULTANT_WIDGET_HTTPS_PORT}:443"
      - "${LLM_CONSULTANT_API_PORT}:8080"
    depends_on:
      api:
        condition: service_healthy
      widget:
        condition: service_started
  
  widget:
    build: ./llm-consultant-widget
    networks:
      - api-network
      - proxy-network
    depends_on:
      api:
        condition: service_healthy

  api:
    build: ./llm-consultant-api
    networks:
      - chroma-network
      - database-network
      - api-network
      - proxy-network
    environment:
      - LLM_CONSULTANT_DOCKER=1
    configs:
      - widget_domain
      - widget_http_port
      - widget_https_port
      - https
    secrets:
      - openai_api_key
      - chroma_openai_api_key
      - api_token
      - database_user
      - database_password
      - database_name
    depends_on:
      database:
        condition: service_healthy
      chromadb:
        condition: service_started

  database:
    image: mysql:8.4.5
    # If you have a SQL database, paste him in the `mysql` directory, uncomment the commands in the `Dockerfile` and below, and comment a command above
    # build: ./mysql
    networks:
      - database-network
    environment:
      MYSQL_ROOT_PASSWORD: "ROOT_PASSWORD"
      MYSQL_DATABASE: "${LLM_CONSULTANT_DATABASE_NAME}"
      MYSQL_USER: "${LLM_CONSULTANT_DATABASE_USER}"
      MYSQL_PASSWORD: "${LLM_CONSULTANT_DATABASE_PASSWORD}"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "$$MYSQL_USER", "--password=$$MYSQL_PASSWORD" ]
      start_period: 15s
      interval: 10s
      timeout: 5s
      retries: 20

  chromadb:
    image: chromadb/chroma:1.0.14.dev72
    volumes:
      - chroma-data:/data
    networks:
      - chroma-network

networks:
  proxy-network:
  api-network:
  database-network:
  chroma-network:

volumes:
  chroma-data:

configs:
  widget_domain:
    environment: "LLM_CONSULTANT_WIDGET_DOMAIN"
  widget_http_port:
    environment: "LLM_CONSULTANT_WIDGET_HTTP_PORT"
  widget_https_port:
    environment: "LLM_CONSULTANT_WIDGET_HTTPS_PORT"
  api_domain:
    environment: "LLM_CONSULTANT_API_DOMAIN"
  api_port:
    environment: "LLM_CONSULTANT_API_PORT"
  https:
    environment: "LLM_CONSULTANT_HTTPS"

secrets:
  openai_api_key:
    environment: "OPENAI_API_KEY"
  chroma_openai_api_key:
    environment: "CHROMA_OPENAI_API_KEY"
  api_token:
    environment: "LLM_CONSULTANT_API_TOKEN"
  database_user:
    environment: "LLM_CONSULTANT_DATABASE_USER"
  database_password:
    environment: "LLM_CONSULTANT_DATABASE_PASSWORD"
  database_name:
    environment: "LLM_CONSULTANT_DATABASE_NAME"
